<ion-header>

  <ion-navbar>
    <ion-title >My Tasse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-card *ngIf="activeCup == true">
        <ion-card-header>
            Information
        </ion-card-header>
        <ion-card-content>
            <p>
                This is an example of what your application could look
                like with Ionic 2.  If you choose to
                <strong>dismiss</strong> this notification, it will
                not be shown again for this session.  No data
                is persisted in this application.
            </p>
        </ion-card-content>

        <!-- If Not Started -->
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="festId" (ionChange)="testFunc($event, festId)"></ion-datetime>
        </ion-item>

        <!-- If Started but not finished -->
        <button ion-button block (click)="presentActionSheet()">
	     Show Action Sheet
	   </button> 
    </ion-card>


  <button *ngIf="activeCup == false" ion-button block color='cta' (click)="addItem()">
    Add a cup
  </button>

   

</ion-content>